@model User

<div id="addUser" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal_title" class="modal-title">Добавить пользователя</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="Create">
            <div class="form-group mb-3">
                <label asp-for="Name">Фио</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RoleId" class="form-label">Роль</label>
                <select asp-for="RoleId" class="form-select">
                  <option value="3">Преподаватель</option>
                  <option value="2">Сотрудник деканата</option>
                  <option value="1">Администратор</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
        <button type="button" class="btn btn-primary" data-save="modal">Сохранить</button>
      </div>
    </div>
  </div>
</div>